@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */

body {
  font-family: 'Muli', Tahoma;
  background-color: black;
}

@media only screen and (max-width: 770px) {
  #copyright-section {
    width: 100%;
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) {
  #bookimg {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .black-section .pop-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    width: 100%;
    text-align: center;
  }

  .black-section .slide-in {
    margin-top: 20px;
  }

  .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-in {
    flex-direction: column;
  }

  .peach-section {
    height: 100vh;
  }
  #bookimg {
    float: none;
    display: block;
    margin: 20px auto 0;
    padding-bottom: 25px;
  }
}

.logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.black-section {
  background-color: black;
  color: white;
  scroll-snap-align: start;
  height: 100vh;
  /* display: flex;
  align-items: center; */
}

.peach-section {
  background-color: #FFF8E1;
  color: black;
  scroll-snap-align: start;
  min-height: 60vh;
  height: auto;
  padding: 30px;
}

.white-section {
  background-color: #ffffff;
  color: black;
  scroll-snap-align: start;
  min-height: 40vh;
  height: auto;
  padding-top: 30px;
}

/* Add some styles to the copyright section to keep it at the bottom of the page */
.copyright-section {
  padding-bottom: 1%;
  padding-top: 5%;
  width: 100%;
}

.slide-in {
  animation: slide-in 1s ease-in-out forwards;
  transform: translateX(-100%);
}

.snap-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  /* set the container to take up the full height of the parent element */
}

#right {
  float: right;
  /* border-radius: 10%; */
  margin-top: 4%;
  /* margin-right: 5%; */
  width: 35%;
}

#gpt-text {
  padding: 40px;
}

.book-img {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes slide-in {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }
}

.pop-in {
  animation: pop-in 0.8s ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
}

@keyframes pop-in {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
